# PostgreSQL
DATABASE_ENABLED=false
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://postgres:328721Le-!%3F@db.kkzylqdyyrmfiayfuqfb.supabase.co:5432/postgresql
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true

# Redis
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=rediss://default:328721Le-!%3F@select-raptor-89663.upstash.io:6379
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false
CACHE_LOCAL_ENABLED=false

# API Key
AUTHENTICATION_API_KEY=sb_secret_zLVZFexP-beCXrBvPUDB2Q_zyqrKQjD

# PostgreSQL Credentials
POSTGRES_USER=evolution_user
POSTGRES_PASSWORD=evolution_password
POSTGRES_DB=evolution_db
